<div class="w3_agile_main_grids">
        <div class="w3layouts_main_grid">
            <div class="w3layouts_main_grid_left">
                <h2>{{locationName}}</h2>
                <p>{{weather_condition}}</p>
                <h3>Now</h3>
                <h4>{{cur_temp}}<span>°c</span></h4>
            </div>
            <div class="w3layouts_main_grid_right">
                <canvas id="sleet" width="70" height="70"> </canvas>
                <div id="w3time"></div>
                <div class="w3layouts_date_year">
                    <!-- date -->
                        <script type="text/javascript">
                           var mydate=new Date()
                           var year=mydate.getYear()
                           if(year<1000)
                             year+=1900
                             var day=mydate.getDay()
                             var month=mydate.getMonth()
                             var daym=mydate.getDate()
                           if(daym<10)
                             daym="0"+daym
                             var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
                             var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
                             document.write(""+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+"")
                        </script>
                    <!-- //date -->
                </div>
            </div>
            <div class="clear"> </div>
        </div>
        
        <div class="agileits_w3layouts_main_grid">
            <div class="agile_main_grid_left">
                <div class="wthree_main_grid_left_grid">
                    <div class="w3ls_main_grid_left_grid1">
                        <div class="w3l_main_grid_left_grid1_left">
                            <h3>Partly Sunny</h3>
                            <p>3 <span>%</span></p>
                        </div>
                        <div class="w3l_main_grid_left_grid1_right">
                            <canvas id="partly-cloudy-day" width="45" height="45"></canvas>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="w3ls_main_grid_left_grid1">
                        <div class="w3l_main_grid_left_grid1_left">
                            <h3>Cloud</h3>
                            <p>38 <span>%</span></p>
                        </div>
                        <div class="w3l_main_grid_left_grid1_right">
                            <canvas id="cloudy" width="45" height="45"></canvas>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="w3ls_main_grid_left_grid1">
                        <div class="w3l_main_grid_left_grid1_left">
                            <h3>Wind</h3>
                            <p>14 <span>Km/h</span></p>
                        </div>
                        <div class="w3l_main_grid_left_grid1_right">
                            <canvas id="wind" width="45" height="45"></canvas>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>
            </div>
            <div class="w3_agileits_main_grid_right">
                <div class="agileinfo_main_grid_right_grid">
                    <div id="parentHorizontalTab">
                        <ul class="resp-tabs-list hor_1">
                            <li>Today</li>
                            <li>Week</li>
                            <li>Month</li>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                            <div class="w3_agileits_tabs">
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>10 AM</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>15<i>°c</i><span>Cloudy</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>11 AM</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>16<i>°c</i><span>Clear</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>12 PM</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>18<i>°c</i><span>Cear</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>2 PM</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>12<i>°c</i><span>Partly Cloudy</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                            <div class="w3_agileits_tabs">
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>Monday</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>14<i>°c</i><span>Clear</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>Tuesday</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>16<i>°c</i><span>Cloudy</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>Wednesday</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>11<i>°c</i><span>Rainy</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>Thursday</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>18<i>°c</i><span>Sunny</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                            <div class="w3_agileits_tabs">
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>January</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>18<i>°c</i><span>Cloudy</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>February</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>14<i>°c</i><span>Clear</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>March</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>18<i>°c</i><span>Cear</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="w3_main_grid_right_grid1">
                                    <div class="w3_main_grid_right_grid1_left">
                                        <p>April</p>
                                    </div>
                                    <div class="w3_main_grid_right_grid1_right">
                                        <p>12<i>°c</i><span>Partly Cloudy</span></p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>